@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  /*graphic design text*/
  --dark-desaturated-cyan: hsl(167, 40%, 24%);
  /*photography text*/
  --dark-blue: hsl(198, 62%, 26%);
  /*footer*/
  --dark-moderate-cyan: hsl(168, 34%, 41%);
  --header-bg: #3ebfff;
  --footer-bg: #8ed0c4;
  --container-bg: #fffbf8;
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-drak-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 18px;
}

body {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  max-height: 100%;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 700px) {
  header {
    height: 44.5rem;
  }
}
nav {
  position: relative;
  padding: 1.7rem 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1000px) {
  nav {
    padding: 2rem 3.1rem;
  }
  nav .logo {
    padding-left: 0.5rem;
    display: block;
    scale: 1.35;
  }
}
.menu-container {
  display: none;
}

@media (min-width: 1000px) {
  .menu-container {
    display: flex;
  }

  .shown {
    display: none;
  }
}
.shown {
  display: flex;
}

header h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 2.3rem;
  letter-spacing: 0.3rem;
  color: var(--white);
  padding: 2.85rem 0;
  text-align: center;
}

@media (min-width: 700px) {
  header h1 {
    font-size: 3.1rem;
    letter-spacing: 0.5rem;
    padding: 4rem 0;
    padding-bottom: 5rem;
  }
}
.arrow-down {
  margin-bottom: 1rem;
}

.fa-solid {
  color: var(--white);
  font-size: 1.6rem;
  display: inline;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 1000px) {
  .fa-solid {
    display: none;
  }
}
.menu-shown {
  background-color: var(--white);
  box-sizing: border-box;
  width: calc(100% - 2.5rem);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, 20%);
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 1000px) {
  .menu-shown {
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    position: static;
    flex-direction: row;
    transform: translate(0, 0);
    padding: 0;
    gap: 2.3rem;
  }

  .menu-shown::after {
    display: none;
  }
}
.menu-item {
  font-family: var(--barlow-font);
  font-weight: 600;
  text-decoration: none;
  font-size: 19px;
  color: var(--dark-grayish-blue);
}

@media (min-width: 1000px) {
  .menu-item {
    color: var(--container-bg);
  }
}
.menu-item-cta {
  font-size: 0.85rem;
  letter-spacing: 0.7px;
  color: var(--very-dark-desaturated-blue);
  font-family: var(--fraunces-font);
  font-weight: 900;
  background-color: var(--yellow);
  text-transform: uppercase;
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 2rem;
  text-align: center;
}

@media (min-width: 1000px) {
  .menu-item-cta {
    color: var(--very-dark-desaturated-blue);
    background-color: var(--container-bg);
    padding: 1rem 1.5rem;
    font-weight: 700;
  }

  .menu-item-cta:hover {
    -webkit-animation: hover-animation-cta 0.3s ease-out;
            animation: hover-animation-cta 0.3s ease-out;
    background-color: hsla(26deg, 100%, 99%, 0.205);
    color: var(--white);
  }
}
@-webkit-keyframes hover-animation-cta {
  0% {
    background-color: var(--container-bg);
    color: var(--very-dark-desaturated-blue);
  }
  100% {
    background-color: hsla(26deg, 100%, 99%, 0.205);
    color: var(--white);
  }
}
@keyframes hover-animation-cta {
  0% {
    background-color: var(--container-bg);
    color: var(--very-dark-desaturated-blue);
  }
  100% {
    background-color: hsla(26deg, 100%, 99%, 0.205);
    color: var(--white);
  }
}
.menu-shown::after {
  content: "";
  position: absolute;
  margin-top: -4.5rem;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  transform: translate(0, 70%);
  background-color: transparent;
  border-left: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-top: 40px solid transparent;
  border-right: 40px solid var(--white);
}

main {
  width: 100%;
  display: grid;
}

.transform-section-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 100%;
}

@media (min-width: 700px) {
  .transform-grid {
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
@media (min-width: 700px) {
  .transform-section-container {
    grid-template-columns: 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/2;
  }

  #slogan-2 {
    grid-row: 2/3;
  }

  #slogan-1 .transform-image-container {
    grid-column: 2/3;
  }

  #slogan-1 .transform-description-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.transform-image-container {
  background-image: url("images/mobile/image-transform.jpg");
  width: 100%;
  background-color: var(--yellow);
  margin: auto;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.transform-image-container img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media (min-width: 700px) {
  .transform-image-container {
    background-image: url("images/desktop/image-transform.jpg");
    height: auto;
    width: 100%;
    margin: 0;
  }
  .transform-image-container img {
    width: 100%;
    height: 100%;
  }
}
.transform-description-container {
  padding: 3.5rem 1.25rem;
}

@media (min-width: 700px) {
  .transform-description-container {
    box-sizing: border-box;
    width: 70%;
    padding-left: 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    gap: 2.2rem;
  }
}
.transform-description-container h2 {
  font-family: var(--fraunces-font);
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 1.8rem;
  color: var(--very-dark-desaturated-blue);
}

@media (min-width: 700px) {
  .transform-description-container h2 {
    font-size: 2.2rem;
  }
}
.transform-description {
  margin: 0;
  padding-top: 1.3rem;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: var(--dark-grayish-blue);
  line-height: 1.65rem;
}

@media (min-width: 700px) {
  .transform-description {
    padding: 0;
  }
}
.transform-description-container a {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--very-dark-desaturated-blue);
  font-size: 0.85rem;
  font-weight: 900;
  font-family: var(--fraunces-font);
  text-decoration: none;
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .transform-description-container a {
    margin: 0;
    margin-bottom: 0.65rem;
    align-self: flex-start;
    margin-left: 0.5rem;
  }
}
.transform-description-container a::after {
  position: absolute;
  z-index: -10;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 8px;
  display: inline-block;
  background-color: hsla(51deg, 100%, 67%, 0.5);
  transform: scale(1.1);
  border-radius: 10px;
}

.transform-description-container a:hover::after,
.transform-description-container a:active::after {
  background-color: hsl(51deg, 100%, 50%);
}

#slogan-2 .transform-description-container a::after {
  background-color: hsla(8deg, 91%, 79%, 0.486);
}

#slogan-2 .transform-description-container a:hover::after,
#slogan-2 .transform-description-container a:active::after {
  background-color: hsl(7deg, 99%, 70%);
}

#slogan-2 .transform-image-container {
  background-color: var(--container-bg);
  background-image: url("images/mobile/image-stand-out.jpg");
}

.offer-section {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .offer-section {
    grid-template-columns: 1fr 1fr;
  }
}
.offer-section-container {
  display: flex;
  background-image: url("images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  height: 33.33rem;
  width: 100%;
  padding: 0rem 1.25rem 3.1rem;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: center;
}

@media (min-width: 700px) {
  .offer-section-container {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }
}
.offer-section-text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 700px) {
  .offer-section-text-container {
    width: 50%;
  }
}
.offer-container-title {
  font-family: var(--fraunces-font);
  text-transform: capitalize;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--dark-desaturated-cyan);
}

.offer-description {
  padding-top: 1.7rem;
  letter-spacing: -0.3px;
  word-spacing: 0.9px;
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family: "Barlow", sans-serif;
  color: var(--dark-desaturated-cyan);
  opacity: 0.6;
}

#offer-2 {
  background-image: url("images/mobile/image-photography.jpg");
}

@media (min-width: 700px) {
  #offer-2 {
    background-image: url("images/desktop/image-photography.jpg");
  }
}
#offer-2 .offer-container-title,
#offer-2 .offer-description {
  color: var(--dark-blue);
  opacity: 1;
}

.testimonials {
  box-sizing: border-box;
  width: 100%;
  padding: 3.6rem 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.3rem;
}

@media (min-width: 1100px) {
  .testimonials {
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-columns: repeat(3, minmax(19rem, 20rem));
    grid-template-rows: -webkit-min-content -webkit-min-content;
    grid-template-rows: min-content min-content;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    gap: 1rem;
    row-gap: 0;
  }
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 1.8rem;
}

@media (min-width: 700px) {
  .testimonial {
    gap: 3.6rem;
    justify-content: space-between;
  }
}
.testimonials-title {
  margin: 0;
  width: 100%;
  font-family: var(--fraunces-font);
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: var(--grayish-blue);
  letter-spacing: 0.22rem;
  word-spacing: 0.08rem;
}

@media (min-width: 700px) {
  .testimonials-title {
    display: inline-block;
    grid-column: 1/span 3;
    font-size: 1.05rem;
    letter-spacing: 0.33rem;
    padding-bottom: 4.3rem;
  }
}
.testimonial-image-container {
  overflow: hidden;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
}

.testimonials-profile-image {
  width: 100%;
  height: 100%;
}

.testimonial-text {
  letter-spacing: 0px;
  margin: 0;
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  color: var(--very-drak-grayish-blue);
  line-height: 1.7rem;
}

.testimonial-client-name {
  font-family: var(--fraunces-font);
  font-weight: 900;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: var(--very-dark-desaturated-blue);
}

.testimonial-client-occupation {
  font-family: var(--barlow-font);
  font-size: 0.75rem;
  color: var(--grayish-blue);
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  width: 100%;
}
.image-grid img {
  display: block;
  width: 100%;
  height: auto;
}

.image-grid-item-desktop {
  display: none;
}

@media (min-width: 700px) {
  .image-grid-item {
    display: none;
  }

  .image-grid-item-desktop {
    display: block;
  }
}
@media (min-width: 700px) {
  .image-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.footer {
  background-color: var(--footer-bg);
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  gap: 5rem;
  padding: 4rem 2rem;
  box-sizing: border-box;
}
.footer .logo {
  display: block;
  scale: 1.4;
  filter: brightness(0) saturate(100%) invert(31%) sepia(21%) saturate(860%) hue-rotate(116deg) brightness(125%) contrast(98%);
}
.footer .attribution {
  font-family: var(--barlow-font);
  font-size: 0.8rem;
  color: var(--dark-desaturated-cyan);
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 2rem;
}
.footer .attribution a {
  text-decoration: none;
  color: var(--dark-desaturated-cyan);
  opacity: 1;
}

.footer-nav {
  width: 100%;
}

.footer-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  width: 100%;
}

.footer-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 700px) {
  .footer-menu {
    justify-content: center;
    gap: 3rem;
  }
}
.footer-menu-item a {
  font-family: var(--barlow-font);
  color: var(--dark-desaturated-cyan);
  opacity: 0.5;
  cursor: pointer;
  text-decoration: none;
}

.footer-menu-item a:hover,
.footer-menu-item a:focus,
.footer-menu-item a:active {
  color: white;
}

.contact {
  display: none;
}

.footer-social-media {
  width: 100%;
}

.footer-social-media-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.6rem;
}

.social-media-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.social-media-link img:hover {
  filter: brightness(0) saturate(100%) invert(99%) sepia(53%) saturate(269%) hue-rotate(295deg) brightness(117%) contrast(101%);
}

@media (min-width: 700px) {
  header {
    background-image: url("images/desktop/image-header.jpg");
  }
}/*# sourceMappingURL=style.css.map */